
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/git/
/var/
/vendor/
###< symfony/framework-bundle ###
public/repos/*
!public/repos/.gitkeep
.env
